     <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="zmdi zmdi-filter-list"></i>Поиск моделей</h3>
              </div>
              <div class="card-block">
                  <div class="form-group">
                    <%= form_tag(models_path, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], placeholder: "По названию", :class => "form-control" %>
                    
                      <button type="submit" class="btn btn-raised btn-primary">Искать</button>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row">
              <% if @models.present? %>
                <% @models.each do |model| %>
                  <div class="col-md-4 col-sm-6 ">
                    <div class="card card-danger" style="height: 280px;">
                      <div class="withripple zoom-img">
                        <%= link_to model_path(model) do %>
                          <%= image_tag model.images.first.file.url(:medium), :class => "img-responsive" if model.images.present? %>
                        <% end %>
                      </div>
                      <div class="card-block text-center">
                        <%= link_to user_path(model.user), :class => "btn-circle btn-circle-raised btn-card-float right wow zoomInDown" do %>
                          <%= image_tag model.user.avatar.url(:thumb), :class => "img-circle mr-1", :style => "width: 50px; height: 50px;" %>
                        <% end %>
                        <h4 class="color-danger"><%= link_to model.title, model_path(model) %></h4>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p>По вашему запросу ничего не найдено.</p>
              <% end %>

            </div>
            <div class="row">
              <nav aria-label="Page navigation">
                <%= paginate @models %>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->