<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h2>Регистрация</h2>

                  <%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
                  <%= devise_error_messages! %>
                    <fieldset>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                          </span>
                          <label class="control-label" for="ms-form-user">Логин</label>
                          <%= f.text_field :name, :id => "ms-form-user", :class => "form-control" %>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-email"></i>
                          </span>
                          <label class="control-label" for="ms-form-email">Email</label>
                          <%= f.email_field :email, autofocus: true, :id => "ms-form-email", :class => "form-control" %>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-building-o"></i>
                          </span>
                          <label class="control-label" for="ms-form-city">Город</label>
                          <%= f.text_field :city, autofocus: true, :id => "ms-form-city", :class => "form-control" %>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                          </span>
                          <label class="control-label" for="ms-form-pass">Пароль</label>
                          <%= f.password_field :password, autocomplete: "off", :id => "ms-form-pass", :class => "form-control" %>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                          </span>
                          <label class="control-label" for="ms-form-pass">Пароль повторно</label>
                          <%= f.password_field :password_confirmation, autocomplete: "off", :id => "ms-form-pass", :class => "form-control" %>
                      </div>
                      <div><%= f.submit "Зарегистрироваться", :class => "btn btn-raised btn-block btn-primary" %></div>
                    </fieldset>
                    
                  <% end %>

    </div>
  </div>
</div>
