<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
          <%= image_tag message.sender.avatar.url(:thumb), style: "width:64px" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to message.sender.name, user_path(message.sender) %> <br>
          <small><b>Тема: </b><%= message.subject %></small><br>
          <small><b>Дата: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>