     <div class="container">
        <div class="row">


         <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="zmdi zmdi-filter-list"></i>Поиск пользователей</h3>
              </div>
              <div class="card-block no-pb">
                <form class="form-horizontal">
                  <h4 class="no-m color-primary">Сортировать</h4>
                  <div class="form-group mt-1">
                    <div class="radio no-mb">
                      <label>
                        <%= sortable 'last_sign_in_at', 'Последний визит' %> </label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <%= sortable 'posts_count', 'Статьи' %> </label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <%= sortable 'models_count', 'Модели' %> </label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <%= sortable 'comments_count', 'Комментарии' %> </label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-block">
                <h4 class="mt-2 color-primary no-mb">Поиск по городу</h4>
                  <div class="form-group">
                    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], placeholder: "Наименование города", :class => "form-control" %>
                    
                      <button type="submit" class="btn btn-raised btn-primary">Искать</button>
                    <% end %>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-9">
            <div class="row">
              

              <% @users.each do |user| %>
                <div class="col-md-4 col-sm-6 ">
				    <div class="card animated fadeInUp animation-delay-7">
				      <div class="ms-hero-bg-royal ms-hero-img-coffee">
				        <h3 class="color-white index-1 text-center no-m pt-4">
				          <%= link_to user_name_with_mail(user), user_path(user) %>
				        </h3>
				        <div class="color-medium index-1 text-center np-m">
				          <%= "Рейтинг: #{user.points} #{Russian.p(user.points, "балл", "балла", "баллов")}" %>
				        </div>
				          <%= link_to user_path(user) do %>
				            <%= image_tag user.avatar.url(:medium), :class => "img-avatar-circle" %>
				          <% end %>
				      </div>
				      <div class="card-block pt-4 text-center">
                <strong>Город:</strong>  <%= user.city %>
                <br>
				      	<strong>Статей:</strong>  <%= user.posts_count %>
				      	<br>
				      	<strong>Комментариев:</strong>  <%= user.comments_count %>
				      	<br>
				      	<strong>Моделей:</strong>  <%= user.models_count %>
				      	<br>
				      	<strong>Последнее посещение:</strong> <br> <%= Russian::strftime(user.last_sign_in_at, "%d %B %Y") %>			        
				      </div>
				    </div>
                </div>

              <% end %>


            </div>
            <div class="row">
              <nav aria-label="Page navigation">
                <%= paginate @users %>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->