<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group label-floating has-success">
    <label class="control-label" for="focusedInput2">Название проекта</label>
    <%= f.text_field :title, :class => "form-control", :id => "focusedInput2" %>
    <p class="help-block">Обязательное к заполнению поле</p>
  </div>

  <div class="form-group label-floating has-warning">
    <label class="control-label" for="focusedInput2">Сайт проекта</label>
    <%= f.text_field :site, :class => "form-control", :id => "focusedInput2" %>
    <p class="help-block">Заполнять не обязательно</p>
  </div>

  <div class="form-group label-floating">
      <%= f.file_field :logo, multiple: false %>
    <div class="input-group">
      <input type="text" readonly="" class="form-control" placeholder="Логотип объекта или изображение для его замены">
      <p class="help-block">Заполнять не обязательно</p>
      <span class="input-group-btn input-group-sm">
        <button type="button" class="btn btn-fab btn-fab-mini">
          <i class="material-icons">attach_file</i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
      <%= f.file_field :background, multiple: false %>
    <div class="input-group">
      <input type="text" readonly="" class="form-control" placeholder="Подложка проекта (отображается в шапке страницы)">
      <p class="help-block">Заполнять не обязательно</p>
      <span class="input-group-btn input-group-sm">
        <button type="button" class="btn btn-fab btn-fab-mini">
          <i class="material-icons">attach_file</i>
        </button>
      </span>
    </div>
  </div>  

  <div class="form-group">
    <%= file_field_tag "images[]", type: :file, multiple: true, :id => "pictureInput" %>
<!--    <%= f.file_field :modelimage, :id => "inputFile4" %> -->
    <div class="input-group">
      <input type="text" readonly="" class="form-control" placeholder="Галлерея проекта. Можно выбрать несколько фотографий">
      <span class="input-group-btn input-group-sm">
        <button type="button" class="btn btn-fab btn-fab-mini">
          <i class="material-icons">attach_file</i>
        </button>
      </span>
    </div>
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-2" id="target0"></div>
      <div class="col-md-2" id="target1"></div>
      <div class="col-md-2" id="target2"></div>
      <div class="col-md-2" id="target3"></div>
      <div class="col-md-2" id="target4"></div>
    </div>
  </div> 

  <div class="field">
    <%= f.label "Описание проекта" %><br>
    <%= f.cktext_area :description, cols: "130", rows: "7", ckeditor: { language: 'ru'} %>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Сохранить", :class => "btn btn-raised btn-primary", data: { disable_with: "Данные сохраняются..." }  %>
      <%= link_to 'Отмена', projects_path, :class => "btn btn-danger" %>
    </div>
  </div>
<% end %>
