      <div class="container">
        <div class="row">
          <div class="col-md-8">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
            <article class="card wow fadeInLeft animation-delay-5 mb-4">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-6">
                    <% doc = Nokogiri::HTML(post.text) %>
                    <% if img = doc.xpath('//img').first %>
                      <%= image_tag img.attr('src'), :class => "img-responsive", style: 'width:100%; height:auto;' %>
                    <% end %>
                  </div>
                  <div class="col-lg-6">
                    <h3 class="no-mt">
                      <%= link_to post.title, post_path(post), data: { 'no-turbolink'=>true} %>
                    </h3>
                    <p class="mb-4"><%= truncate_html(post_text(post.text), length: 250, omission: "...") %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <%= image_tag post.user.avatar.url(:thumb), :class => "img-circle mr-1", :style => "width: 50px; height: 50px;" %>
                    <%= link_to user_name_with_mail(post.user), user_path(post.user) %>
                    <%= link_to post.category.title, category_path(post.category), :class => "ms-tag ms-tag-info" if post.category.present? %>
                    <span class="ml-1 hidden-xs">
                      <i class="zmdi zmdi-time mr-05 color-info"></i>
                      <span class="color-medium-dark"><%= Russian::strftime(post.created_at, "%d %B %Y") %></span>
                    </span>
                    <span class="ml-1 "><i class="zmdi zmdi-comments color-royal mr-05 "></i> <%= post.comments.count %></span>
                  </div>
                  <div class="col-lg-4 text-right">
                    <%= link_to(post_path(post), :class => "btn btn-primary btn-raised btn-block animate-icon", data: { 'no-turbolink'=>true}) do %>
                      Читать полностью
                      <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </article>
    <% end %>
  <% else %>
    <p>По вашему запросу статей не найдено.</p>
  <% end %>
            <nav aria-label="Page navigation">
              <%= paginate @posts %>
            </nav>
          </div>
          <%= render "static_pages/right_side" %>
      </div>
  </div>
