<!DOCTYPE html>
<html>
<head>
	<%= display_meta_tags :site => '3D Аддитивные технологии', reverse: true %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="/assets/css/select2.min.css" />
    <link rel="stylesheet" href="/assets/css/preload.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/style.red-700.min.css" />

	<%= csrf_meta_tags %>
	<meta name="yandex-verification" content="f72d7ca15e6c2509" />
</head>
<body >
	
	<!-- <%= render 'static_pages/preloader' %> -->
	<%= render 'static_pages/metrika' %>
	<div class="sb-site-container">
		<%= render 'static_pages/header' %>
		<%= render 'static_pages/navbar' %>
		<%= yield %>
		<%= render 'static_pages/footer' %>
	</div>
	<script src="/assets/js/select2.min.js"></script>

    	
    <script src="/assets/js/plugins.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/index.js"></script>


</body>
</html>
